
<script defer src="../public/scripts/dashboard.js"></script>

<section id="dashboard">
    <a href='logout' id="btn-logout" >Logout</a>
    {{#if user}}
        <h1>TruckerComp Dashboard for {{user.name}}</h1>
    {{else}}
        <h1>TruckerComp Dashboard</h1>
        <h4>Please create your profile</h4>
    {{/if}}
    <div id="dashboard-nav">
        <div class="dashboard-nav-button" onclick="dashboardToggle(event, 'progress-section')">Progress</div>
        <div class="dashboard-nav-button" onclick="dashboardToggle(event, 'profile-section')">Profile</div>
        <div class="dashboard-nav-button" onclick="dashboardToggle(event, 'policy-section')">Policy Info</div>
    </div>

    <div id="progress-section" class="dashboard-section hidden">
        <h2>Policy progress (hover for details)</h2>

        <div id="progress-steps">
            <li id="step1" class="step">Step 1</li>
            <li id="step2" class="step">Step 2</li>
            <li id="step3" class="step">Step 3</li>
            <li id="step4" class="step">Step 4</li>
            <li id="step5" class="step">Step 5</li>

        </div>
        <div id="progress-graphic">
            <hr class="completed"/>
            <hr class="completed"/>
            <hr class="current"/>
            <hr />
            <hr />
        </div>
    </div>

    <div id="profile-section" class="dashboard-section" style="opacity: 1;">

        <h2>Here is the information we have on record for you</h2>
        <div id="userInfo">
            <h4>Name: <span class="userInfo">{{user.name}}</span></h4>
            <h4>Email: <span class="userInfo">{{user.email}}</span></h4>
            <h4>Phone Number: <span class="userInfo">{{user.phone}}</span></h4>
            <h4>Company Name: <span class="userInfo">{{user.companyName}}</span></h4>
            <h4>DOT Number: <span class="userInfo">{{user.DOT}}</span></h4>
            <h4>Address: <span class="userInfo">{{user.address}}</span></h4>
            <h4>Mailing Address: <span class="userInfo">{{user.mailingAddress}}</span></h4>
            <h4>Trucks: <span class="userInfo">{{user.powerUnits}}</span></h4>
            <h4>Drivers: <span class="userInfo">{{user.drivers}}</span></h4>
            <h4>Total Payroll: <span class="userInfo">{{user.totalPayroll}}</span></h4>
            <h4>Annual Mileage: <span class="userInfo">{{user.mileage}}</span></h4>
            <h4>Carrier Operation: <span class="userInfo">{{user.carrierOperation}}</span></h4>
            <h4>Operation Type: </h4>
                {{#each user.operationType as |item|}}
                <h4>{{item}}</h4>
                {{/each}}
            <h4>Cargo Carried: </h4>
                {{#each user.cargoCarried as |item|}}
                <h4>{{item}}</h4>
                {{/each}}
        </div> 
    </div>

    <div id="policy-section" class="dashboard-section hidden">
        <h2>Upload your 2020 1099 (pdf)</h2>
        <input id="file-upload" type="file" >

        <h4>Your uploaded files</h4>
        <div id="file-preview"></div>
    </div>
</section>