
    <link href="../public/styles/users.css" rel="stylesheet">
    <script defer src="../public/scripts/dashboard.js"></script>
</head>
<body>

    <main class="indented">
        <h1>Trucker Comp Dashboard</h1>

        <a href='/users/logout' id="btn-logout" >Logout</a>
        <div>
            <h2>My info</h2>
            <p>Name: {{user.name}}</p>
            <p>Email: {{user.email}}</p>
            <p>My employees: {{user.employees}}</p>
            <p>Total Payroll: {{user.totalPayroll}}</p>
            <p>Annual mileage: {{user.mileage}}</p>
            <p>ZIP Code: {{user.zipCode}}</p>

        </div>
        <h2>
            Additional info
        </h2>
        <label for="DOT">Input your DOT Number</label>
        <input name="DOT" id="DOT" type="number">
        <button id="btn-search">Search</button>
        {{!-- This div is hidden until the search is conducted --}}
        <div id="result"></div>
        {{!-- This div is hidden unless the user indicates the information displayed is incorrect --}}
        <div id="manualInput">
            <h2>Please check the following and correct if necessary</h2>
            <form action="/lead" method="POST">
                <label for="name">Name</label>
                <input id="name" name="name" type="text" value={{user.name}}>
                <label for="email">Email</label>
                <input id="email" name="email" type="text" value={{user.email}}>
                <label for="totalPayroll">Total Payroll</label>
                <input id="totalPayroll" name="totalPayroll" type="number" value={{user.totalPayroll}}>
                <label for="mileage">Mileage</label>
                <input id="mileage" name="mileage" type="number" value={{user.mileage}}>
                <label for="DOT">DOT Number</label>
                <input id="DOT" name="DOT" type="number" >
                <label for="companyName">Company Name</label>
                <input id="companyName" name="companyName" type="text" >
                <label for="MCP">MCP Number</label>
                <input id="MCP" name="MCP" type="number" >
                <label for="address">Address</label>
                <input id="address" name="address" type="text" >
                <label for="phone">Phone Number</label>
                <input id="phone" name="phone" type="tel" >
                <label for="powerUnits">Power Units</label>
                <input id="powerUnits" name="powerUnits" type="number" >
                <label for="drivers">Drivers</label>
                <input id="drivers" name="drivers" type="number" >
                {{!-- <label for="authorized">Authorized</label>
                <input id="authorized" name="authorized" type="text" value={{}}> --}}
                <label for="mailingAddress">Mailing Address</label>
                <input id="mailingAddress" name="mailingAddress" type="text" >
                <input type="submit">
            </form>
        </div>  
        <fieldset id = "confirmation">
            <label for="confirmation">Is this information correct?</label>
            <input id="toggle-confirmation-yes" name="confirmation" type="radio" value='true'>
            <label class="toggle left" for="toggle-confirmation-yes" onclick="confirm(true)">Yes</label>
            <input id="toggle-confirmation-no" name="confirmation" type="radio" value='false'>
            <label class="toggle right" for="toggle-confirmation-no" onclick="confirm(false)">No</label>
            <input type="submit" onclick="saveLead(event)">
        </fieldset>
    </main>
