
    <script defer src="../../../public/scripts/myInfo.js"></script>

    <main class="indented">
        <h1>Trucker Comp Dashboard</h1>

        <a href='/users/logout' id="btn-logout" >Logout</a>
        <div id="my-info">
            <h2>My info</h2>
            <p>Name: <span id= 'userName'>{{user.name}}</span></p>
            <p>Email: <span id= 'userEmail'>{{user.email}}</span></p>
            <p>My employees: <i class="fas fa-chevron-down" onclick="employeeDisplay()"></i></p>
            <table id="empTable">
                <th>
                    <td><b>Type</b></td>
                    <td><b>Number</b></td>
                    <td><b>Payroll</b></td>
                </th>
            </table>
            <p>Total Payroll: <span id= 'userTotalPayroll'>{{user.totalPayroll}}</span></p>
            <p>Annual mileage: <span id= 'userMileage'>{{user.mileage}}</span></p>
            <p>ZIP Code: {{user.zipCode}}</p>

        </div>
        <h2>
            Additional info
        </h2>
        <label for="DOTsearch">Input your DOT Number</label>
        <input name="DOTsearch" id="DOTsearch" type="number" min="0">
        <button id="btn-search">Search</button>
        {{!-- This div is hidden until the search is conducted --}}
        <div id="result"></div>
        {{!-- This div is hidden unless the user indicates the information displayed is incorrect --}}
        <div id="manualInput">
            <h2>Please check the following and correct as necessary</h2>
            <form action="/lead" method="POST" id="manualInputForm">
            
                <fieldset>
                    <label for="name">Name</label>
                    <input id="name" name="name" type="text" value={{user.name}}>
                </fieldset>
                <fieldset>
                    <label for="email">Email</label>
                    <input id="email" name="email" type="text" value={{user.email}}>
                </fieldset>
                <fieldset>
                    <label for="totalPayroll">Total Payroll</label>
                    <input id="totalPayroll" name="totalPayroll" type="number" value={{user.totalPayroll}}>
                </fieldset>
                <fieldset>
                    <label for="mileage">Mileage</label>
                    <input id="mileage" name="mileage" type="number" value={{user.mileage}}>
                </fieldset>
                <fieldset>
                    <label for="DOT">DOT Number</label>
                    <input id="DOT" name="DOT" type="number">
                </fieldset>
                <fieldset>
                    <label for="companyName">Company Name</label>
                    <input id="companyName" name="companyName" type="text" >
                </fieldset>
                <fieldset>
                    <label for="MCP">MCP Number</label>
                    <input id="MCP" name="MCP" type="number" >
                </fieldset>
                <fieldset>
                    <label for="address">Address</label>
                    <input id="address" name="address" type="text" >
                </fieldset>
                <fieldset>
                    <label for="phone">Phone Number</label>
                    <input id="phone" name="phone" type="tel" >
                </fieldset>
                <fieldset>
                    <label for="powerUnits">Power Units</label>
                    <input id="powerUnits" name="powerUnits" type="number" >
                    {{!-- <label for="drivers">Drivers</label>
                    <input id="drivers" name="drivers" type="number" > --}}
                </fieldset>
                <fieldset>
                    <label for="mailingAddress">Mailing Address</label>
                    <input id="mailingAddress" name="mailingAddress" type="text" >
                </fieldset>
                    <input type="submit" id="save2" class="btn-save" onclick="saveSecondLead(event)">
            </form>
        </div>  
        <fieldset id = "confirmation">
            <label for="confirmation">Is this information correct?</label>
            <input id="toggle-confirmation-yes" name="confirmation" type="radio" value='true'>
            <label class="toggle left" for="toggle-confirmation-yes" onclick="confirm(true)">Yes</label>
            <input id="toggle-confirmation-no" name="confirmation" type="radio" value='false'>
            <label class="toggle right" for="toggle-confirmation-no" onclick="confirm(false)">No</label>
            <input type="submit" id="save1" class="btn-save" onclick="saveInitialLead(event)">
        </fieldset>
    </main>
